<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity?.IsAuthenticated ?? true)
                    {
                        <!-- Ako korisnik nije prijavljen, preusmerite ga na login stranicu -->
                        <p role="alert">Niste prijavljeni. <a href="/login">Prijavite se</a>.</p>
                    }
                    else
                    {
                        <!-- Ako korisnik nema dozvolu za ovu stranicu -->
                        <p role="alert">Nemate dozvolu za pristup ovoj stranici.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Žao nam je, ali tražena stranica nije pronađena.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
